<ion-app>
  <ion-content class="bg-white" [fullscreen]="true">
     <ion-grid class=" h-100">
         <ion-text class="w-calc-15 text-center d-grid pt-6 px-3">
             <span class="fw-500 font-size-18 line-24 color-purple">Digite o código de acesso</span>
             <span *ngFor="let item of numberTel" 
              class="fw-400 font-size-16 line-18 mt-3 color-blue-light">
                Insita o código de 4 dígitos que enviamos para o número <br/> <b class="fw-500 color-purple">{{item.telephone}}</b> 
             </span>
         </ion-text> 
         <ion-row  class="row mt-5">
            <form [formGroup]="form" class="d-flex ion-justify-content-center">
                <ion-input type="tel" formControlName="coden1" placeholder="*" class="send-number mx-2 bg-gray-light color-purple fw-700 font-size-28 px-2 line-36"  #Field1 maxlength="1" (keyup)="gotoNextField(Field2)"></ion-input>
                <ion-input type="tel" formControlName="coden2" placeholder="*" class="send-number mx-2 bg-gray-light color-purple fw-700 font-size-28 px-2 line-36"  #Field2 maxlength="1" (keyup)="gotoNextField(Field3)"></ion-input>
                <ion-input type="tel" formControlName="coden3" placeholder="*" class="send-number mx-2 bg-gray-light color-purple fw-700 font-size-28 px-2 line-36"  #Field3 maxlength="1" (keyup)="gotoNextField(Field4)"></ion-input>
                <ion-input type="tel" formControlName="coden4" placeholder="*" class="send-number mx-2 bg-gray-light color-purple fw-700 font-size-28 px-2 line-36"  #Field4 maxlength="1" (keyup)="finishFunction()"></ion-input>
                <ion-button (click)="confirmCode()" *ngIf="submitContinued" class="bg-greenpool h-51 w-100 text-center position-absolute bottom-0 fw-500 font-size-16 line-20 color-purple" type="submit">
                    <span *ngIf="continued" >Continuar </span> <ion-spinner *ngIf="spinnload" name="crescent"></ion-spinner></ion-button>
            </form>
            <ion-text class="text-center py-3 w-100">
                <span class="fw-500 font-size-16 line-20 color-purple">
                    Não recebi o código
                </span>
            </ion-text>
         </ion-row>
     </ion-grid>
   </ion-content>
</ion-app>
