<ion-app class="h-100 overflow-auto">
  <ion-content [fullscreen]="true" class="bg-gray-light">
    <!-- Stap -01 -->
    <ion-row  *ngFor="let item of infoHome" class="row bg-transparent">
      <ion-col class="col-12 px-4 pt-5">
        <ion-text class="">
          <!-- nome do usuário com conflito de ideias -->
          <span class="fw-700 font-size-24 line-32 color-purple">Olá, {{item.name}}</span>
        </ion-text>
      </ion-col>
      <ion-col class="col-12 d-flex ion-align-items-center">
        <ion-text class=" w-100">
          <p class="fw-400 font-size-14 line-18 color-blue-light bg-light p-3 mt-2">
            Indique imóveis e tenha ganhos <br/> de forma transparente e rápido.
          </p>
        </ion-text>
        <img [src]="item.img" class="home-profile-pic position-absolute"/>
      </ion-col>
    </ion-row>
    
    <!-- Stap-01 -->
    <ion-row class="row bg-transparent">
      <ion-col class="col-12">
        <ion-card class="border-10 bg-purple p-4 mx-3">
          <ion-text class="d-flex mb-3 w-100 ion-align-items-center">
            <ion-icon class="btn-star" color="dark" name="star-outline"></ion-icon>
            <span class="w-100 px-3 fw-400 text-light font-size-16 line-20">indique um imóvel</span>
          </ion-text>
          <ion-text class="w-100 d-flex">
            <span class=" fw-400 text-light font-size-13 line-18"> Ganhe até <b>R$350,00</b>, numa só indicação</span>
          </ion-text>
          <ion-button ((click)="goIndicateProperty()" class="pl-3 fw-700 font-size-16 line-43 h-51 box-shadow-none mt-3 bg-greenpool w-100 border-10 color-purple" type="button">
            Indicar imóvel
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

     <!-- Stap-02 -->
     <ion-row class="row mt-3 mb-4 bg-transparent">
      <ion-col class="col-12">
        <ion-card (click)="goExtract()" class="border-10 bg-light p-4 mx-3">
          <ion-text class="d-flex mb-3 w-100 ion-align-items-center">
            <ion-icon class="btn-star" color="dark" name="wallet-outline"></ion-icon>
            <span class="w-100 px-3 fw-400 color-blue font-size-16 line-20">Seu saldo</span>
            <ion-icon (click)="changeEye()"  [name]="hideeye ? 'eye-outline' : 'eye-off-outline'" class="color-purple font-size-40"></ion-icon>
          </ion-text>
          <ion-text class="w-100 text-right ion-justify-content-end d-grid">
            <span class="fw-700 color-blue text-align-right font-size-28 line-36"  [ngClass]="balance ? 'text-security' : ''" *ngFor="let item of infoBalance">R${{ item.money | slice:0:3 }},{{ item.money | slice:3:5 }}</span>
            <span class="fw-400 color-blue font-size-14 line-18" *ngFor="let item of infoBalance">Saldo previsto {{ item.date | slice:0:2 }}/{{ item.date | slice:2:4 }}/{{ item.date | slice:4:8 }}</span>
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>

        <ion-text class="mx-4">
          <span class="fw-400 py-3 color-blue text-left font-size-18 line-41">Último adicionado</span>
        </ion-text>
        <ion-row class="row mx-2 mt-3">
          <ion-col class="col-12">
            <ion-card *ngFor="let item of infoCards" class="bg-light border-10 mb-4">
              <ion-text class="d-flex px-3 pt-4 ion-justify-content-between">
                <strong class="w-auto {{item.statustype}} h-fit status-type fw-400 text-left font-size-14 line-18">
                  {{item.status}}
                </strong>
                <p class="d-grid w-auto text-right">
                  <b class="text-align-right fw-500 color-blue font-size-14 line-18">{{item.type}}</b>
                  <span class="fw-400 text-align-right color-blue-light font-size-12 line-15" *ngFor="let item of infoBalance">Indicação {{ item.date | slice:0:2 }}/{{ item.date | slice:2:4 }}/{{ item.date | slice:4:8 }}</span>
                </p>
              </ion-text>

              <ion-text class="d-grid px-3 text-left">
                <span class="fw-400 color-blue text-left font-size-16 line-20">
                  {{item.localName}}
                </span>
                <span class="fw-400 color-blue-light text-left font-size-12 line-15">
                  {{item.localDetails}}
                </span>
              </ion-text>
              <div class="bg-gray-light">
                <ion-text class="ion-align-items-center px-3 py-2 mt-3 d-flex">
                  <ion-icon class="color-blue font-size-22" name="add-circle-outline"></ion-icon>
                  <h6 class="fw-400 m-0 color-blue text-left font-size-14 line-18">&nbsp; Ver mais</h6>
                </ion-text>
              </div>
            </ion-card>
          </ion-col>
          <ion-col class="col-12 py-3 text-center">
            <ion-text (click)="goIndicatedProperties()" class="">
              <span class="fw-400 color-blue font-size-14 line-18">Visualizar todos</span>
            </ion-text>
          </ion-col>
        </ion-row>
  </ion-content>
</ion-app>