<ion-row class="row mx-2 mt-4" >
  <ion-col *ngFor="let item of mokprofile" >
    <ion-text >
      <span class="fw-600 pb-3 font-size-20 color-purple line-20">Dados do trabalho</span>
    </ion-text>
    <ion-card class="border-10 box-shadow-none mt-3 mb-5 bg-light py-4 px-3">
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">qual sua escala</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">{{response?.workData?.workSchedule || '-'}}</p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Porteiro manhã 1</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">{{response?.workData?.morningPorter1 || '-'}}</p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Porteiro manhã 2</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">{{response?.workData?.morningPorter2 || '-'}}</p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Porteiro noite 1</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">{{response?.workData?.nigthPorter1 || '-'}}</p>

      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Porteiro noite 2</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">{{response?.workData?.nigthPorter2 || '-'}}</p>

      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Zelador</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">{{response?.workData?.janitor || '-'}}</p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Folguista</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">{{response?.workData?.extraPorter || '-'}}</p>
      </ion-text>
    </ion-card>
    
    <ion-text >
      <span class="fw-600 pb-3 font-size-20 color-purple line-20">Endereço do condomínio</span>
    </ion-text>
    <ion-card class="border-10 box-shadow-none mt-3 mb-5 my-3 bg-light py-4 px-3">
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Nome do condomínio</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">{{response?.workData?.condominium?.name || '-'}}</p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Endereço do condomínio</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{response?.workData?.condominium?.addressStreet || '-'}}
        </p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Número do condomínio</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{response?.workData?.condominium?.addressNumber || '-'}}
        </p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Bairro</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{response?.workData?.condominium?.addressDistrict || '-'}}
        </p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">CEP</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{response?.workData?.condominium?.addressCep || '-'}}
        </p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Complemento</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{response?.workData?.condominium?.addressComplement || '-'}}
        </p>
      </ion-text>
   
    </ion-card>

    <ion-text >
      <span class="fw-600 pb-3 font-size-20 color-purple line-20">Dados do condomínio</span>
    </ion-text>
    <ion-card class="border-10 box-shadow-none mt-3 mb-5 my-3 bg-light py-4 px-3">
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Nome do sindico</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">{{response?.workData?.condominium?.syndic || '-'}}</p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Contato do sindico</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{response?.workData?.condominium?.syndicContact || '-'}}  
        </p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Categoria</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{response?.workData?.condominium?.category || '-'}}
        </p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Quantas torres?</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{response?.workData?.condominium?.numberOfTowers || '-'}} unidades
        </p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Quantos andares?</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{response?.workData?.condominium?.howManyFloors || '-'}} unidades
        </p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Complemento</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{response?.workData?.condominium?.complement || '-'}}
        </p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Apartamentos por andar</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{response?.workData?.condominium?.apartmentsPerrFloor || '-'}} unidades
        </p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Quantos imóveis são para locação?</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{response?.workData?.condominium?.howManyApartmentsForLease || '-'}} unidades
        </p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Quantos imóveis são para venda?</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{response?.workData?.condominium?.howManyApartmentsForSale || '-'}} unidades
        </p>
      </ion-text>
   
    </ion-card>
  </ion-col>
</ion-row>
