<ion-tab-bar slot="bottom">
  <ion-tab-button   layout="icon-top">
    <ion-img src="../../../assets/icon/house.svg" class=""></ion-img>
    <ion-label>Início</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="about"  layout="icon-top">
    <ion-img src="../../../assets/icon/hand.svg" class=""></ion-img>
    <ion-label>indicar</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="property-list"  layout="icon-top">
    <ion-img src="../../../assets/icon/star.svg" class=""></ion-img>
    <ion-label>Status</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="games"  layout="icon-top">
    <ion-img src="../../../assets/icon/tiket.svg" class=""></ion-img>
    <ion-label>Extrato</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="games"  layout="icon-top">
    <ion-img src="../../../assets/icon/user.svg" class=""></ion-img>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>
</ion-tab-bar>