<ion-row class="row mx-2 mb-8 mt-4">

  <form [formGroup]="formwork" *ngFor="let item of mokprofile" class="col-12">
    <ion-text class="ion-justify-content-between w-100 d-flex">
      <span class="fw-600 pb-3 font-size-20 color-purple line-20">Dados do
        trabalho</span>
      <ion-icon (click)="hideDataWork()" *ngIf="lesswork"
        class="color-blue-light font-size-28"
        name="remove-circle-outline"></ion-icon>
      <ion-icon (click)="showDataWork()" *ngIf="pluswork"
        class="color-blue-light font-size-28" name="add-circle-outline">
      </ion-icon>
    </ion-text>
    <ion-card *ngIf="datawork" class="border-10 box-shadow-none mt-3 mb-5
      bg-light py-4 px-3">
      <ion-text>
        <label class="fw-400 font-size-14 line-18 color-blue-light">Qual sua escala</label>
        <select class="form-select select-custom" formControlName="workSchedule">
          <option selected value="" disabled class="mt-3">Selecione</option>
          <option value="12x36">12x36</option>
          <option value="5x1">5x1</option>
        </select>
      </ion-text>

      
      <ion-text *ngIf="addFunction == 0">
        <label class="fw-400 font-size-14 line-18 color-blue-light">Função</label>
        <select class="form-select select-custom"
          formControlName="workFunctions">
          <option value="" selected disabled class="mt-3">Selecione a função</option>
          <option value="Porteiro manhã 1">Porteiro manhã 1</option>
          <option value="Porteiro manhã 2">Porteiro manhã 2</option>
          <option value="Porteiro tarde">Porteiro tarde</option>
          <option value="Porteiro noite 1">Porteiro noite 1</option>
          <option value="Porteiro noite 2">Porteiro noite 2</option>
          <option value="Zelador">Zelador</option>
          <option value="Folguista">Folguista</option>
        </select>
      </ion-text>
      <ion-text class="">
        <p (click)="addFunctions()" class="fw-400 font-size-14 d-flex line-18
          color-purple m-0 mt-2 justify-content-end">
          <ion-icon class="color-purple font-size-20 mx-1"
            name="add-circle-outline"></ion-icon> 
          <span class="">Adicionar mais Funções</span>
        </p>
      </ion-text>
      <div *ngIf="this.formwork.controls['workFunctions'].value !== ''"  class="d-block w-100 mt-3">
        <label *ngFor="let item of functionGroup" class="fw-400 font-size-14 line-18 color-blue-light">{{item.workFunctions}}</label>
        <ion-text class="d-flex align-items-center">
          <ion-input formControlName="namerole" type="text" placeholder="Nome"
            maxlength="30"
            class="w-100 bg-white-light mt-2 mb-4 mr-1 fw-500 font-size-16
            color-purple line-20 border-10"></ion-input>
          <ion-input formControlName="contactrole" type="text"
            placeholder="Telefone" maxlength="30"
            class="w-100 bg-white-light mt-2 mb-4 fw-500 font-size-16
            color-purple line-20 border-10"></ion-input>
        </ion-text>
      </div>
      <div  *ngFor="let item of functionGroup"
        class="d-flex ion-justify-content-between ion-align-items-center
        indicatedAdd">
        <ion-text>
          <span class="text-dark ion-text-capitalize">{{item.workFunctions}}</span>
        </ion-text>
        <ion-icon name="trash-outline" class="text-danger"
          (click)="removeOwner(item)"></ion-icon>
      </div>
    </ion-card>

    <ion-text class="ion-justify-content-between w-100 d-flex">
      <span class="fw-600 pb-3 font-size-20 color-purple line-20">Endereço do
        condominío</span>
      <ion-icon (click)="hideDataEd()" *ngIf="lessed" class="color-blue-light
        font-size-28"
        name="remove-circle-outline"></ion-icon>
      <ion-icon (click)="showDataEd()" *ngIf="plused" class="color-blue-light
        font-size-28" name="add-circle-outline">
      </ion-icon>
    </ion-text>
    <ion-card *ngIf="dataed" class="border-10 box-shadow-none mt-2 mb-5 bg-light
      py-4 px-3">
      <ion-text>
        <label class="fw-400 font-size-14 line-18 color-blue-light">Nome do
          condomínio</label>
        <ion-input formControlName="name" type="text" placeholder="insira o
          condomínio" maxlength="30"
          class="w-100 bg-white-light mt-2 mb-4 fw-500 font-size-16 color-purple
          line-20 border-10"></ion-input>
      </ion-text>
      <ion-text>
        <label class="fw-400 font-size-14 line-18 color-blue-light">CEP</label>
        <ion-input formControlName="addressCep" (keyup)="buscarCep($event)"
          [ionMask]="maskCep" type="text" placeholder="insira o CEP"
          maxlength="9" class="w-100 bg-white-light mt-2 mb-4 fw-500
          font-size-16 color-purple line-20 border-10">
        </ion-input>
      </ion-text>
      <ion-text>
        <label class="fw-400 font-size-14 line-18 color-blue-light">Endereço do
          condomínio</label>
        <ion-input formControlName="addressStreet" type="text"
          placeholder="insira a endereço do condomínio"
          maxlength="30" class="w-100 bg-white-light mt-2 mb-4 fw-500
          font-size-16 color-purple line-20 border-10">
        </ion-input>
      </ion-text>
      <ion-text>
        <label class="fw-400 font-size-14 line-18 color-blue-light">Número do
          condomínio</label>
        <ion-input formControlName="addressNumber" type="text"
          placeholder="insira o número do condomínio"
          maxlength="30" class="w-100 bg-white-light mt-2 mb-4 fw-500
          font-size-16 color-purple line-20 border-10">
        </ion-input>
      </ion-text>
      <ion-text>
        <label class="fw-400 font-size-14 line-18 color-blue-light">Bairro</label>
        <ion-input formControlName="addressDistrict" type="text"
          placeholder="insira o bairro" maxlength="30"
          class="w-100 bg-white-light mt-2 mb-4 fw-500 font-size-16 color-purple
          line-20 border-10"></ion-input>
      </ion-text>
      <ion-text>
        <label class="fw-400 font-size-14 line-18 color-blue-light">Complemento</label>
        <ion-input formControlName="addressComplement" type="text"
          placeholder="insira o complemento" maxlength="30"
          class="w-100 bg-white-light mt-2 mb-4 fw-500 font-size-16 color-purple
          line-20 border-10"></ion-input>
      </ion-text>
      <!-- <ion-text class="d-grid text-left">
        <label class="fw-400 font-size-14 line-18 color-blue-light">Banco</label>
        <select formControlName="state" class="fw-500 font-size-14 py-2 my-2 border-10 px-3 line-18 color-purple bg-white-light border-none">
          <option *ngFor="let item of selectBank">{{item.bank}}</option>
        </select>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Agência</label>
        <ion-input maxlength="4" class="w-100 bg-white-light my-2 fw-500 font-size-16 color-purple line-20 border-10" 
          formControlName="agency" type="text">
        </ion-input>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Conta corrent</label>
        <ion-input maxlength="10" class="w-100 bg-white-light my-2 fw-500 font-size-16 color-purple line-20 border-10" 
          formControlName="current" type="text"  [ionMask]="maskCurrent">
        </ion-input>
      </ion-text> -->
    </ion-card>


    <ion-text class="ion-justify-content-between w-100 d-flex">
      <span class="fw-600 pb-3 font-size-20 color-purple line-20">Dados do
        condominío</span>
      <ion-icon (click)="hideDataCondominium()" *ngIf="lesscondominium"
        class="color-blue-light font-size-28"
        name="remove-circle-outline"></ion-icon>
      <ion-icon (click)="showDataCondominium()" *ngIf="pluscondominium"
        class="color-blue-light font-size-28"
        name="add-circle-outline"></ion-icon>
    </ion-text>
    <ion-card *ngIf="datacondominium" class="border-10 box-shadow-none mt-2 mb-4
      bg-light py-4 px-3">
      <ion-text>
        <label class="fw-400 font-size-14 line-18 color-blue-light">Nome do
          Sindico</label>
        <ion-input formControlName="syndic" type="text" placeholder="insira o
          nome do Sindico" maxlength="30"
          class="w-100 bg-white-light mt-2 mb-4 fw-500 font-size-16 color-purple
          line-20 border-10"></ion-input>
      </ion-text>
      <ion-text>
        <label class="fw-400 font-size-14 line-18 color-blue-light">Contato do
          sindico</label>
        <ion-input formControlName="syndicContact" type="text"
          placeholder="insira a endereço do condomínio"
          maxlength="30" class="w-100 bg-white-light mt-2 mb-4 fw-500
          font-size-16 color-purple line-20 border-10">
        </ion-input>
      </ion-text>
      <ion-text class="d-grid text-left">
        <label class="fw-400 font-size-14 line-18 color-blue-light">Categoria</label>
        <select formControlName="category"
          class="fw-500 font-size-14 py-2 my-2 border-10 px-3 line-18
          color-purple bg-white-light border-none">
          <option *ngFor="let item of selectCategory" [value]="item.category">{{item.category}}</option>
        </select>
      </ion-text>
      <ion-text class="d-grid text-left">
        <label class="fw-400 font-size-14 line-18 color-blue-light">Quantas
          torres?</label>
        <select formControlName="numberOfTowers"
          class="fw-500 font-size-14 py-2 my-2 border-10 px-3 line-18
          color-purple bg-white-light border-none">
          <option *ngFor="let item of selectUnity" [value]="item.unity">{{item.unity}}
            unidades</option>
        </select>
      </ion-text>
      <ion-text class="d-grid text-left">
        <label class="fw-400 font-size-14 line-18 color-blue-light">Quantos
          andares?</label>
        <select formControlName="howManyFloors"
          class="fw-500 font-size-14 py-2 my-2 border-10 px-3 line-18
          color-purple bg-white-light border-none">
          <option *ngFor="let item of selectUnity" [value]="item.unity">{{item.unity}}
            unidades</option>
        </select>
      </ion-text>
      <ion-text class="d-grid text-left">
        <label class="fw-400 font-size-14 line-18 color-blue-light">Apartamento
          por andar</label>
        <select formControlName="apartmentsPerrFloor"
          class="fw-500 font-size-14 py-2 my-2 border-10 px-3 line-18
          color-purple bg-white-light border-none">
          <option *ngFor="let item of selectUnity" [value]="item.unity">{{item.unity}}
            unidades</option>
        </select>
      </ion-text>
      <ion-text class="d-grid text-left">
        <label class="fw-400 font-size-14 line-18 color-blue-light">Quantos
          imóveis são para locação?</label>
        <select formControlName="howManyApartmentsForLease"
          class="fw-500 font-size-14 py-2 my-2 border-10 px-3 line-18
          color-purple bg-white-light border-none">
          <option *ngFor="let item of selectUnity" [value]="item.unity">{{item.unity}}
            unidades</option>
        </select>
      </ion-text>
      <ion-text class="d-grid text-left">
        <label class="fw-400 font-size-14 line-18 color-blue-light">Quantos
          imóveis são para venda?</label>
        <select formControlName="howManyApartmentsForSale"
          class="fw-500 font-size-14 py-2 my-2 border-10 px-3 line-18
          color-purple bg-white-light border-none">
          <option *ngFor="let item of selectUnity" [value]="item.unity">{{item.unity}}
            unidades</option>
        </select>
      </ion-text>

    </ion-card>

    <ion-button (click)="setOpen(true)" class="bg-greenpool box-shadow-none h-51
      w-100 fw-500 font-size-16 line-20 border-10 color-purple" type="submit">
      <span>Salvar alterações </span> <ion-spinner *ngIf="spinnload"
        name="crescent"></ion-spinner>
    </ion-button>
  </form>

  <ion-modal [isOpen]="isModalConfirm" class="bg-transparent">
    <ng-template>
      <ion-card class="ion-padding bg-light border-10 position-absolute bottom-0
        w-100">
        <br/>
          <ion-text class="w-100 text-align-center">
            <p class="fw-500 font-size-16 line-20 color-purple">Deseja salvar<br/>as
                alterações?</p>
            </ion-text>
            <ion-row class="row my-3">
              <ion-col class="col-6">
                <ion-button (click)="setOpen(false)"
                  (click)="setOpenModalOk(true)" class="fw-700 w-100
                  box-shadow-none font-size-16 line-20 color-purple h-51
                  border-10 border-purple bg-white" type="button">Sim</ion-button>
              </ion-col>
              <ion-col class="col-6">
                <ion-button (click)="setClose(false)" class="fw-700 w-100
                  box-shadow-none font-size-16 line-20 color-purple h-51
                  border-10 bg-greenpool" type="button">Não</ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ng-template>
      </ion-modal>
      <ion-modal [isOpen]="isModalOk" class="bg-transparent">
        <ng-template>
          <ion-card class="ion-padding bg-light border-10 position-absolute
            bottom-0 w-100">
            <br/>
              <ion-text class="w-100 text-align-center">
                <p class="fw-500 font-size-16 line-20 color-purple">Alterações
                  salvas<br/>com sucesso!</p>
                </ion-text>
                <ion-row class="row my-3">
                  <ion-col class="col-12">
                    <ion-button (click)="confirm(false)" class="fw-700 w-100
                      box-shadow-none font-size-16 line-20 color-purple h-51
                      border-10 bg-greenpool" type="button">Ok, entendi</ion-button>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ng-template>
          </ion-modal>
        </ion-row>