ion-input::placeholder{
    color: var(--bluelight);
}
.select-custom {
    border: none !important;
    background-color: #e9ebf686 !important;
    color: #4C3778 !important;
}

.select-custom:focus {
    border: none !important;
    background-color: #e9ebf686 !important;
    color: #4C3778 !important;
    box-shadow: none !important;
}