<ion-app class="h-100 overflow-auto">
  <ion-content [fullscreen]="true" class="bg-gray-light">
    <ion-row class="row mx-4 my-4">
      <ion-col class="col-10 text-center">
        <ion-text class="pl-2">
          <span class="fw-500 py-3 color-purple font-size-20 line-26">&nbsp;
            &nbsp; &nbsp; Imóveis indicados</span>
        </ion-text>
      </ion-col>
      <ion-col class="col-2">
        <ion-img (click)="setOpen(true)" src="../../../assets/icon/filter.svg"
          class="h-21"></ion-img>
        <ion-modal [isOpen]="isModalOpen" class="bg-transparent">
          <ng-template>
            <form [formGroup]="form" class="ion-padding bg-light border-10
              position-absolute bottom-0 w-100">
              <ion-text class="mx-4 ">
                <span class="fw-500 font-size-20 mb-3 line-26 color-purple">
                  Filtros
                </span>
              </ion-text>
              <div class="form-check mx-4 my-3">
                <input class="form-check-input InputEveryone"
                  formControlName="inputEveryone"
                 
                  type="checkbox" value="" id="confirmFilterAll">
                <label class="form-check-label color-blue-light font-size-16
                  line-20 fw-400" for="confirmFilterAll">
                  Todos
                </label>
              </div>
              <div class="form-check mx-4 my-3">
                <input
                  formControlName="inputAnalysis" class=" InputAnalysis
                  form-check-input" type="checkbox" value="Em análise"
                  id="confirmFilterAnalysis">
                <label class="form-check-label color-blue-light font-size-16
                  line-20 fw-400" for="confirmFilterAnalysis">
                  Em análise
                </label>
              </div>
              <div class="form-check mx-4 my-3">
                <input class="form-check-input InputProgress"
                  formControlName="inputProgress" type="checkbox" value=""
                  id="confirmFilterProgress">
                <label class="form-check-label color-blue-light font-size-16
                  line-20 fw-400" for="confirmFilterProgress">
                  Em andamento
                </label>
              </div>
              <div class="form-check mx-4 my-3">
                <input class="form-check-input InputDisapproved"
                  formControlName="inputDisapproved" type="checkbox" value=""
                  id="confirmFilterDisapproved">
                <label class="form-check-label color-blue-light font-size-16
                  line-20 fw-400" for="confirmFilterDisapproved">
                  Reprovado
                </label>
              </div>
              <div class="form-check mx-4 my-3">
                <input class="form-check-input InputAproved"
                  formControlName="inputApproved" type="checkbox" value=""
                  id="confirmFilterApproved">
                <label class="form-check-label color-blue-light font-size-16
                  line-20 fw-400" for="confirmFilterApproved">
                  Aprovado
                </label>
              </div>
              <ion-row class="row mt-5">
                <ion-col class="col-12">
                  <ion-button (click)="setOpen(false)" (click)="handlerFillter()" class="bg-greenpool
                    box-shadow-none modal-grid border-10 h-51
                    ion-align-items-center color-purple fw-500 font-size-16
                    line-20" type="button">
                    Filtrar
                  </ion-button>
                </ion-col>
                <ion-col class="col-12 mt-3">
                  <ion-button (click)="setOpen(false)" class="box-shadow-none
                    bg-gray-light modal-grid border-10 h-51
                    ion-align-items-center color-blue-light fw-500 font-size-16
                    line-20" type="button">
                    Cancelar
                  </ion-button>
                </ion-col>

              </ion-row>
            </form>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col class="col-12 mx-4">
        <ion-text classs="">
          <span class="fw-400 font-size-12 line-15 color-purple">Filtros
            aplicados</span>
        </ion-text>
      </ion-col>
      <ion-col class="col-12">
        <form [formGroup]="form">
          <ul class="d-flex overflow-scroll m-0 p-0 mx-2
            ion-align-items-center">
            <li class="list-group-item border-none p-0 px-2 bg-transparent">
              <ion-button
                type="button"
                *ngIf="formControl['inputEveryone'].value === true"
                (click)="handlerFillterListHorizon()"
                class="box-shadow-none btn-filter">
                Todas <ion-icon class="" name="close-outline"></ion-icon>
              </ion-button>
            </li>
            <li class="list-group-item border-none p-0 px-2 bg-transparent">
              <ion-button type="button"
                *ngIf="formControl['inputAnalysis'].value === true"
                class="box-shadow-none btn-filter">
                Em Análise <ion-icon class="" name="close-outline"></ion-icon>
              </ion-button>
            </li>
            <li class="list-group-item border-none p-0 px-2 bg-transparent">
              <ion-button type="button"
                *ngIf="formControl['inputProgress'].value === true"
                class="box-shadow-none btn-filter">
                Em Andamento <ion-icon class="" name="close-outline"></ion-icon>
              </ion-button>
            </li>
            <li class="list-group-item border-none p-0 px-2 bg-transparent">
              <ion-button type="button"
                *ngIf="formControl['inputDisapproved'].value === true"
                class="box-shadow-none btn-filter">
                Reprovado<ion-icon class="" name="close-outline"></ion-icon>
              </ion-button>
            </li>
            <li class="list-group-item border-none p-0 px-2 bg-transparent">
              <ion-button type="button"
                *ngIf="formControl['inputApproved'].value === true"
                class="box-shadow-none btn-filter">
                Aprovado<ion-icon class="" name="close-outline"></ion-icon>
              </ion-button>
            </li>

          </ul>
        </form>

      </ion-col>
    </ion-row>
    <ion-row class="row mx-2 mb-5 mt-3">
      <ion-col class="col-12">
        <ion-card *ngFor="let item of infoCardsFilter"
          (click)="showcard(item.id)" class="bg-light border-10
          mb-4">

          <ion-text class="d-flex px-3 pt-4 ion-justify-content-between">
            <p class="d-grid w-auto text-left">
              <b class="text-align-left fw-700 color-blue font-size-18
                line-24">{{item.type}}</b>
            </p>
            <strong class="w-auto {{item.statustype}} h-fit status-type fw-400
              text-left font-size-14 line-18">
              {{item.status}}
            </strong>
          </ion-text>
          <ion-row class="row">
            <ion-col class="col-8">
              <ion-text class="d-flex px-3 text-left">
                <span class="fw-400 color-blue text-left font-size-16
                  line-20">
                  {{item.PersonName}}
                </span>
              </ion-text>
            </ion-col>
            <ion-col class="col-4 ">
              <ion-text class="d-grid px-3 text-align-right">
                <span class="fw-400 color-blue font-size-16 line-15">
                  Data
                </span>
                <span class="fw-400 color-blue-light font-size-12
                line-15" *ngFor="let
                item of infoBalance">{{ item.datecard | slice:0:2
                }}/{{ item.datecard | slice:2:4 }}/{{ item.datecard | slice:4:8 }}</span>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-text class="d-grid px-3 text-left">
            <span class="fw-400 color-blue-light text-left font-size-12
              line-15">
              {{item.localName}}
            </span>
            <span class="fw-400 color-blue-light text-left font-size-12
              line-15">
              {{item.localDetails}}
            </span>
          </ion-text>
          <ion-row class="row mt-2">
            <ion-col class="col-8">
              <ion-text class="d-grid px-3 text-align-left">
                <span class="fw-400 color-blue text-left font-size-16 line-20">
                  Tipo de negócio
                </span>
                <span class="fw-400 color-blue-light font-size-12 line-15">{{item.Typebusiness}}</span>
              </ion-text>
            </ion-col>
            <ion-col class="col-4 ">
              <ion-text class="d-grid px-3 text-align-right">
                <span class="fw-400 color-blue font-size-16 line-15">
                  Receber
                </span>
                <span class="fw-400 color-blue-light font-size-12 line-15">
                  R$ {{ item.Value |
                  slice:0:3 }},{{ item.Value | slice:3:5}}</span>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="item.status === 'Reprovado' && handler(item.id)"
            class="row">
            <ion-col class="col-12">
              <ion-grid style="background-color: #FFF4F8;" class="modal-grid
                transition-updown h-110 p-3 my-2 border-10">
                <ion-text class="w-100 d-flex ion-align-items-center">
                  <ion-icon color="danger" class="mx-2 font-size-28"
                    name="close-circle-outline"></ion-icon>
                  <ion-text class="d-grid">
                    <span class="fw-700 font-size-12 color-cherry line-15">
                      Ops!
                    </span>
                    <span class="fw-400 font-size-12 color-cherry line-15">
                      Sua indicação foi reprovada!
                    </span>
                  </ion-text>
                </ion-text>
                <ion-text class="w-100 mx-2">
                  <p class="fw-400 m-0 mx-2 p-0 font-size-12 color-purple
                    line-15">
                    O proprietário finalizou a venda com outra imobiliária
                  </p>
                </ion-text>


              </ion-grid>
            </ion-col>
            <ion-col class="col-12 text-center mt-2">
              <ion-text class="">
                <span class="fw-400 font-size-12 color-blue-light line-15">
                  Esse imóvel sairá da sua lista em até 3 dias úteis
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="item.status === 'Aprovado' && handler(item.id)"
            class="row">
            <ion-col class="col-12">
              <ion-grid style="background-color: #F2FFF5;" class="modal-grid
                transition-updown h-110 p-3 my-2 border-10">
                <ion-text class="w-100 d-flex ion-align-items-center">
                  <ion-icon color="success" class="mx-2 font-size-28"
                    name="checkmark-circle-outline"></ion-icon>
                  <ion-text class="d-grid">
                    <span class="fw-700 font-size-14 text-success line-15">
                      Parabéns!
                    </span>
                    <span class="fw-400 font-size-12 text-success line-15">
                      Sua indicação foi aprovada!
                    </span>
                  </ion-text>
                </ion-text>
                <ion-text class="w-100 mx-2">
                  <p class="fw-400 m-0 mx-2 p-0 font-size-12 color-purple
                    line-15">
                    Valor disponível no saldo <b>R$150,00</b>
                  </p>
                </ion-text>


              </ion-grid>
            </ion-col>
            <ion-col class="col-12 text-center mt-2">
              <ion-text class="">
                <span class="fw-400 font-size-12 color-blue-light line-15">
                  Esse imóvel sairá da sua lista em até 3 dias úteis
                </span>
              </ion-text>
            </ion-col>
          </ion-row>

          <div class="bg-gray-light">
            <ion-text (click)="goMoreSold()" class="ion-align-items-center px-3 py-2 mt-3 d-flex">
              <ion-icon class="color-blue font-size-22"
                name="add-circle-outline"></ion-icon>
              <h6 class="fw-400 m-0 color-blue text-left font-size-14 line-18">&nbsp;
                Ver mais</h6>
            </ion-text>
          </div>
        </ion-card>
        <div class="text-dark" *ngIf="infoCardsFilter.length === 0">
          <ion-text class="text-align-center ">
            <h1 class="fw-400 pt-2 w-100 m-0 color-blue text-left font-size-18 line-24">Nenhum resultado encontrado <br/> selecione um filtro por favor!</h1>
          </ion-text>
          <ion-img src="../../../../assets/img/notfound.png" class=""></ion-img>
        </div>
      </ion-col>

    </ion-row>
  </ion-content>
</ion-app>