<ion-app class="bg-gray-light h-100">
  <ion-header class="bg-gray-light py-2">
    <ion-toolbar>
      <ion-button  (click)="goProfile()" slot="start" fill="clear" class="back-btn">
        <ion-icon class="color-purple" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-title slot="" class="text-align-center" style="padding-right: 3rem;">
        <span class="color-purple fw-600 line-26 font-size-20">Política de
          privacidade</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="bg-gray-light" [fullscreen]="true">
    <ion-grid class="bg-gray-light mb-5">
      <ion-row class="row pb-5">
        <ion-col class="col-12 px-5 mt-4">
          <p class="fw-800 font-size-24 line-32  color-purple
            text-left">
            O Porteiros no comando
          </p>
          <p class="fw-400 font-size-16 line-20 color-blue-light">
            Suspendisse commodo leo eget nisl molestie luctus.
          </p>
        </ion-col>
        <ion-col class="col-12">
          <ion-card class="bg-light border-10 mt-2 p-4">
            <div >

              <article >


                <span class="color-purple fw-600 font-size-16 line-20">
                  Introdução</span>

                <h6 class="fw-400 color-blue-light font-size-16 line-24">

                  A atividade do Porteiros no Comando envolve,
                  necessariamente, o tratamento de dados pessoais para que
                  se
                  atinja o correto e eficiente funcionamento da plataforma e
                  seus serviços. Desta forma, é nosso compromisso atendermos
                  integralmente com as disposições legais e melhores
                  práticas
                  envolvendo proteção e privacidade de dados, sendo esta
                  Política de Privacidade a forma transparente de informar
                  os
                  titulares de dados de como é feito o tratamento das
                  informações pelo Porteiros no Comando.
                  O Porteiros no Comando é um produto derivado dos serviços
                  prestados pela ImoveiStock, possuindo integração de
                  funcionalidades e negócio indispensáveis para as
                  funcionalidades da plataforma.
                </h6>
                <span class="color-purple fw-600 font-size-16 line-20">Esta
                  Política deve ser interpretada em
                  conjunto com os
                  Termos de Uso do Porteiros no Comando, disponível no link:
                  [-] </span>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Esta Política servirá como guia para que todos os
                interessados possam compreender:
                  </h6>
                <ul class="ula">
                  <li class="fw-400 color-blue-light font-size-14 line-20">
                    porque precisamos coletar estas informações;

                  </li>
                  <li class="fw-400 color-blue-light font-size-14 line-20">
                    quais as categorias de dados pessoais tratamos;

                  </li>
                  <li class="fw-400 color-blue-light font-size-14 line-20">
                    se ocorre o compartilhamento destas informações;

                  </li>
                  <li class="fw-400 color-blue-light font-size-14 line-20">
                    quais são seus direitos como titular de dados pessoais;
                  </li>
                  <li class="fw-400 color-blue-light font-size-14 line-20">
                    entre outras informações.

                  </li>
                </ul>

                <span class="color-purple fw-600 font-size-16 line-20">Termos
                  e definições</span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Para uma melhor compreensão desta Política, conforme
                estabelecido pela LGPD, considera-se:
                  </h6>
                <ul class="ula">

                  <li class="fw-400 color-blue-light font-size-14 line-18"> <span class="color-purple fw-600
                      font-size-16 line-20">(i) Dado Pessoal:</span>
                    informação relacionada a pessoa natural
                    identificada ou identificável;
                  </li>
                  <li class="fw-400 color-blue-light font-size-14 line-20"> <span class="color-purple fw-600
                      font-size-16 line-20">(ii) Dado Pessoal
                      Sensível:</span> dado pessoal sobre origem racial
                    ou étnica, convicção religiosa, opinião política,
                    filiação a
                    sindicato ou a organização de caráter religioso,
                    filosófico
                    ou político, dado referente à saúde ou à vida sexual,
                    dado
                    genético ou biométrico, quando vinculado a uma pessoa
                    natural;
                  </li>
                  <li class="fw-400 color-blue-light font-size-14 line-20"> <span class="color-purple fw-600
                      font-size-16 line-20"> (iii) Titular dos
                      Dados: </span> pessoa natural a quem se referem os
                    dados pessoais que são objeto de tratamento;
                    <li class="fw-400 color-blue-light font-size-14 line-20"> <span class="color-purple fw-600
                        font-size-16 line-20"> (iv) Controlador:
                      </span> É a pessoa natural ou jurídica, de direito
                      público ou privado, a quem competem as decisões
                      referentes
                      ao tratamento de dados pessoais, e definição dos meios
                      e
                      finalidades do tratamento. (Ex.: o Porteiros no
                      Comando é a
                      Controladora dos dados pessoais de seus colaboradores
                      em
                      relação às atividades de tratamento de dados
                      necessárias
                      para a execução dos seus respectivos contratos de
                      trabalho);
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20"> <span class="color-purple fw-600
                        font-size-16 line-20"> (v) Operador:
                      </span> pessoa natural ou jurídica, de direito público
                      ou privado, que realiza o tratamento de dados pessoais
                      em
                      nome do Controlador;
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20"> <span class="color-purple fw-600
                        font-size-16 line-20"> (vi) Tratamento:
                      </span> operação realizada com dados pessoais,
                      como as que se referem a coleta, produção, recepção,
                      classificação, utilização, acesso, reprodução,
                      transmissão,
                      distribuição, processamento, arquivamento,
                      armazenamento,
                      eliminação, avaliação ou controle da informação,
                      modificação, comunicação, transferência, difusão ou
                      extração.
                    </li>
                  </ul>

                  <span class="color-purple fw-600 font-size-16 line-20">De
                    quem são os dados pessoais que
                    tratamos?</span>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Todo tratamento de dados pessoal realizado pela empresa
                    possui uma base legal que a fundamente, conforme dispõe
                    a
                    Lei Geral de Proteção de Dados Pessoais. Por esse
                    motivo,
                    nos comprometemos a utilizar estas informações somente
                    para
                    as finalidades estabelecidas previamente pelo Porteiros
                    no
                    Comando. Prezando pela transparência destes tratamentos,
                    classificamos as informações que tratamos diariamente
                    durante nossa atividade comercial, sendo elas dados de:
                  </h6>
                  <ul class="ula">
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Colaboradores;

                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Fornecedores;

                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Proprietários ou representantes legais/comerciais de
                      imóveis;
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Porteiros Usuário;

                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Leads;

                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Terceiros necessários a operação do Porteiros no
                      Comando.

                    </li>
                  </ul>


                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    A coleta das informações pessoais é realizada de maneira
                    individual para cada processo envolvendo a atividade do
                    Porteiros no Comando, sempre prezando pelas melhores
                    práticas e por meio de medidas técnico administrativas
                    que
                    garantam segurança no armazenamento e utilização dos
                    dados.
                  </h6>

                  <span class="color-purple fw-600 font-size-16 line-20">
                    Quais dados pessoais coletamos e quais
                    tratamentos
                    realizamos?</span>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Durante nossa operação comercial naturalmente temos
                    coletamos dados pessoais, que são tratados somente pelos
                    colaboradores ou terceiros relacionados diretamente com
                    a
                    operação do Porteiros no Comando, havendo o controle dos
                    acessos e o compromisso com a confidencialidade das
                    informações, não só pessoais, como estratégicas.
                  </h6>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Sempre que possível, todos as informações que
                    armazenamos
                    sobre você estarão criptografadas, garantindo a
                    integridade
                    e segurança da informação e, além disso, os nossos
                    colaboradores e terceiros relacionados são capacitados
                    para
                    manusear as informações pessoais, pois somos claros com
                    nossos padrões de conduta e diretrizes sobre a
                    importância
                    deste importante ativo. Para facilitar a compreensão dos
                    tratamentos realizados pela empresa, elaboramos esta
                    tabela
                    que exemplifica os dados coletados e a sua finalidade,
                    vejamos:
                  </h6>


                  <!-- TABELA -->
                  <!-- DADOS COLETADOS FINALIDADE
                    Dados dos proprietários ou representantes legais/comerciais
                    dos imóveis Disponibilizar os serviços da ImoveiStock.
                    Dados dos Porteiros Cadastro, registro das indicações e
                    correta disponibilização das bonificações.
                    Dados dos Porteiros Indicados Contato para disponibilização
                    e comunicação sobre a atividade do Porteiros no Comando.
                    Além disso, em nossa plataforma, coletamos as seguintes
                    informações: -->
                  <span class="color-purple fw-600 font-size-16 line-20">Histórico
                    de contato</span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    - O Porteiros no Comando armazena
                    informações a respeito dos contatos dos usuários, como
                    conteúdos acessados na nossa plataforma e interações via
                    e-mail e chat. Da mesma forma, armazenamos o histórico
                    de
                    busca de cada usuário e suas atividades.
                  </h6>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Além disso, para que possamos prestar nossos serviços,
                    eventualmente poderemos cruzar informações do mesmo
                    titular,
                    estruturando um perfil do usuário para classificar seus
                    interesses e efetivar as campanhas de marketing
                    direcionadas.
                  </h6>

                  <span class="color-purple fw-600 font-size-16 line-20">
                    Direitos dos titulares de dados
                    pessoais </span>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Respeitar os direitos dos titulares de dados pessoais é
                    muito importante para nós. Diante disso, estes poderão
                    contatar o Encarregado de dados (DPO) através do e-mail
                    dpo@imoveistock.com.br para exercer seus direitos ou
                    tirar
                    dúvidas e obter esclarecimentos a respeito dos seus
                    dados
                    pessoais utilizados pela empresa.

                    A qualquer momento os titulares de dados pessoais que
                    possuam suas informações utilizadas pela empresa
                    poderão:
                  </h6>
                  <ul class="ula">
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      <span class="color-purple fw-600 font-size-16
                        line-20">Confirmação de Tratamento:</span>
                      Confirmar com o Porteiros no
                      Comando a existência de tratamento de dados pessoais e
                      obter, a qualquer tempo, acesso aos seus dados;
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      <span class="color-purple fw-600 font-size-16
                        line-20">
                        Correção dos Dados:
                      </span>
                      Requerer o Porteiros no Comando a
                      correção de dados que estejam incompletos, inexatos ou
                      desatualizados;
                    </li>

                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      <span class="color-purple fw-600 font-size-16
                        line-20">
                        Anonimização, bloqueio ou eliminação:
                      </span>
                      Requerer a anonimização, bloqueio ou eliminação de
                      dados desnecessários, excessivos ou tratados em
                      desconformidade com a Lei Geral de Proteção de Dados;
                    </li>

                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      <span class="color-purple fw-600 font-size-16
                        line-20">
                        Informações sobre o compartilhamento:
                      </span>
                      Requerer informações
                      das entidades públicas e privadas com as quais o
                      Porteiros
                      no Comando realizou uso compartilhado de dados;
                    </li>

                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      <span class="color-purple fw-600 font-size-16
                        line-20">
                        Exclusão dos dados:
                      </span>
                      Solicitar a exclusão dos seus dados
                      coletados e armazenados pelo Porteiros no Comando,
                      desde que
                      decorrido o prazo legal mínimo relacionado à guarda
                      dos
                      respectivos dados;
                    </li>

                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      <span class="color-purple fw-600 font-size-16
                        line-20">
                        Portabilidade de dados:
                      </span>

                      Realizar a portabilidade dos dados a
                      outro prestador de serviços, mediante sua requisição;
                    </li>

                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      <span class="color-purple fw-600 font-size-16
                        line-20">
                        Revogação e informações sobre o consentimento:
                      </span>
                      Nos casos em
                      que o Porteiros no Comando requerer o seu
                      consentimento para
                      coleta de algum dado, você poderá requerer informação
                      sobre
                      a possibilidade de não oferecer consentimento e suas
                      consequências. Caso concedido, poderá posteriormente
                      revogar
                      o consentimento, bem como requerer a eliminação desses
                      dados.
                    </li>

                  </ul>






                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    As solicitações serão respondidas dentro do prazo geral
                    de
                    15 (quinze) dias a contar da data da requisição,
                    variável
                    conforme a complexidade da demanda do titular.
                  </h6>

                  <span class="color-purple fw-600 font-size-16 line-20">
                    Cultura da Privacidade

                  </span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    A cultura da privacidade e proteção de dados é um dever
                    coletivo. Ciente disso, o Porteiros no Comando se
                    compromete
                    a oportunizar aos seus colaboradores e usuários,
                    comunicações específicas que tem o objetivo de promover
                    a
                    cultura da proteção de dados e reafirmar o
                    comprometimento
                    do Porteiros no Comando com o respeito aos direitos dos
                    titulares de dados pessoais.
                  </h6>
                  <span class="color-purple fw-600 font-size-16 line-20">
                    Fundamentos legais para o tratamento de dados pessoais
                  </span>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Como já informamos anteriormente, todo tratamento de
                    dado
                    pessoal realizado pela empresa possui uma justificativa
                    legal. Entretanto, essas justificativas poderão variar
                    conforme as finalidades pré-estabelecidas pela empresa.
                  </h6>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    A LGPD permite que os tratamentos ocorram, com base nas
                    respectivas bases legais estabelecidas pelo artigo 7º da
                    lei. O Porteiros no Comando utiliza, majoritariamente em
                    seus processos internos, os seguintes fundamentos
                    legais:
                  </h6>

                  <!-- LISTA HORIZONTAL-CENTER -->
                  <!-- Cumprimento de obrigação legal (inciso II);
                      Execução de contrato / Diligências pré-contratuais (inciso
                      V);
                      Exercício regular de direito (inciso VI);
                      Interesses legítimos do controlador / Terceiro (inciso
                      IX);
                      Consentimento (inciso I). -->
                  <span class="color-purple fw-600 font-size-16 line-20">
                    Por que precisamos realizar estes tratamentos de dados?
                  </span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Os tratamentos de dados pessoais são fundamentais para
                    que
                    o
                    Porteiros no Comando possa atingir suas finalidades,
                    principalmente o desenvolvimento e promoção de negócios
                    envolvendo imóveis. Desta forma, todos os tratamentos
                    realizados estão limitados a finalidades
                    pré-estabelecidas
                    pelo Porteiros no Comando, sendo algumas delas, as
                    seguintes:
                  </h6>
                  <ul class="ula">
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Registro e identificação da atividade dos Usuários,
                      inclusive das indicações;
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Comunicação com os Usuários e Proprietários ou
                      representantes legais/comerciais dos imóveis;
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Disponibilização das bonificações aos Porteiros
                      Usuários;

                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Análise de uso da plataforma e dos serviços
                      disponibilizados.
                    </li>
                  </ul>




                  <span class="color-purple fw-600 font-size-16 line-20">
                    Do armazenamento dos seus dados pessoais
                  </span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Todo armazenamento dos dados pessoais utilizado na
                    operação
                    comercial do Porteiros no Comando é feito somente
                    enquanto
                    houver uma finalidade legítima, por meio de sistemas e
                    ferramentas que assegurem sua inviolabilidade, dentro
                    das
                    medidas técnicas organizacionais razoáveis atreladas à
                    segurança da informação, inclusive por meio de controle
                    de
                    acesso somente aos colaboradores e prestadores de
                    serviços
                    indispensáveis para a atividade do Porteiros no Comando
                    Mais informações a respeito do armazenamento dos dados
                    pessoais, poderão ser solicitadas mediante contato com o
                    nosso DPO, no e-mail: dpo@imoveistock.com.br
                  </h6>
                  <span class="color-purple fw-600 font-size-16 line-20">
                    Compartilhamento
                  </span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    O Porteiros no Comando poderá compartilhar seus dados
                    com
                    terceiros necessários para sua atividade econômica,
                    especialmente em relação ao atendimento do seu vínculo
                    com
                    o
                    Porteiro Usuário. Os agentes que recebem dados
                    provenientes
                    do Porteiros no Comando possuem padrões de segurança e
                    confidencialidade adequados e aptos para proteger seus
                    dados. Entre esses terceiros estão:
                  </h6>

                  <span class="color-purple fw-600 font-size-16 line-20">
                    Parceiros de bonificação
                  </span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    - Podemos compartilhar os seus
                    dados com nossos parceiros para que viabilizem o
                    pagamento
                    das bonificações decorrentes do sucesso no negócio
                    envolvendo o imóvel indicado.
                  </h6>
                  <span class="color-purple fw-600 font-size-16 line-20">
                    Prestadores de serviços de marketing
                  </span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    – podemos utilizar
                    serviços de marketing para oferecer anúncios de
                    interesse
                    e
                    promover a atividade do Porteiros no Comando.
                  </h6>
                  <span class="color-purple fw-600 font-size-16 line-20">
                    Prestadores de serviços de tecnologia
                  </span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    – podemos
                    compartilhar
                    dados para fins de aprimoramento da plataforma,
                    armazenar
                    dados em nuvem, e até para obter suporte técnico e
                    operacional aos nossos serviços.
                  </h6>
                  <span class="color-purple fw-600 font-size-16 line-20">
                    Parceiros comerciais
                  </span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    – com o intuito de oferecer
                    benefícios
                    e oportunidades aos usuários, podemos compartilhar suas
                    informações de contato para parceiros que ofertem
                    cursos,
                    capacitações, vagas de emprego, e demais serviços de
                    interesse.
                  </h6>
                  <span class="color-purple fw-600 font-size-16 line-20">
                    Autoridades Públicas
                  </span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    – Seus dados poderão ser
                    compartilhados
                    para o cumprimento de exigências legais ou regulatórias,
                    para execução de contratos, para o exercício de direito
                    em
                    processos judiciais, administrativos ou arbitrais e para
                    garantir a prevenção à fraude.

                    Alguns dados pessoais poderão ser objeto de
                    transferência
                    internacional, por exemplo, para o armazenamento em
                    servidores de computação em nuvem localizados fora do
                    Brasil. Mesmo nesses casos, o Porteiros no Comando
                    observa
                    todas as diretrizes estabelecidas pela Lei Geral de
                    Proteção
                    de Dados Pessoais.
                  </h6>

                  <span class="color-purple fw-600 font-size-16 line-20">
                    Segurança
                  </span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Nós adotamos medidas técnicas e organizacionais para
                    proteger seus dados. Temos o compromisso com o sigilo e
                    do
                    monitoramento das atividades internas e de nossos
                    prestadores de serviço, e asseguramos a proteção dos
                    dados
                    através da implementação de procedimentos adequados para
                    mantê-los seguros.
                  </h6>
                  <span class="color-purple fw-600 font-size-16 line-20">
                    Nossa responsabilidade
                  </span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Como agentes de tratamento de dados pessoais, entendemos
                    a
                    importância e a responsabilidade em manter essas
                    informações
                    seguras, para isso, o Porteiros no Comando estabelece
                    procedimentos internos e ferramentas que seguem os mais
                    altos padrões de segurança das informações pessoais.
                  </h6>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Além disso, a empresa se compromete a cumprir com os
                    termos
                    desta Política de Privacidade, estando disponível para
                    esclarecer eventuais dúvidas referentes ao tratamento de
                    dados Pessoais
                  </h6>

                  <span class="color-purple fw-600 font-size-16 line-20">
                    Agente de Tratamento:
                  </span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    IMOVEISTOCK TECNOLOGIA E NEGOCIOS LTDA., com sede na Al.
                    Presidente Taunay, nº 835, loja 06, bairro Bigorrilho,
                    CEP
                    nº 80430-000, inscrita no CNPJ sob o nº
                    22.041.482/0001-60.
                    Canais de comunicação:
                  </h6>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Para quaisquer informações, inclusive para o exercício
                    dos
                    seus direitos como titular dos dados pessoais a nós
                    confiados, você poderá entrar em contato com o
                    Encarregado
                    (DPO) do Porteiros no Comando através do e-mail:
                    dpo@imoveistock.com.br
                  </h6>
                  <span class="color-purple fw-600 font-size-16 line-20">
                    Atualizações da política:
                  </span>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    O Porteiros no Comando, com o objetivo de atualizar as
                    boas
                    práticas e diretrizes para a conformidade no tratamento
                    de
                    dado pessoal, poderá, eventualmente, editar a presente
                    política. Estas atualizações têm o objetivo de melhor
                    refletir o compromisso assumido pela empresa com a
                    proteção
                    e privacidade de dados pessoais.

                    Caso este documento sofra alterações, o Porteiros no
                    Comando
                    utilizará os meios de comunicação oficiais para
                    comunicar
                    eventuais edições e sempre disponibilizará a versão
                    atualizada do documento no site: [-].
                  </h6>
                </article>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-app>
