ion-toolbar{
    --background: transparent !important;
  
}

ion-content{
    top: -1px;
}
ion-card{
    margin-left: 4%;
    width: calc(100% - 27px);
}

.logo-multicolor{
    width: 100%;
    justify-content: center;
    text-align: -webkit-center;
}
.logo-multicolor ion-img{
    max-width: 180.86px;
}

.user-img{
    Width: 108px;
    border-radius: 100px;
    border: 1px solid var(--purple);
    padding: 9px;
}

.img-user{
    width: 100%;
    align-items: center;
    justify-content: center;
}