<ion-app class="bg-gray-light h-100">
  <ion-header class="bg-gray-light">
    <ion-toolbar>
      <ion-button (click)="goProfile()" slot="start" fill="clear" class="back-btn">
        <ion-icon class="color-purple" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-title slot="" class="text-align-center" style="padding-right: 3rem;">
        <span class="color-purple fw-600 line-26 font-size-20">Termos e
          condições</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="bg-gray-light" [fullscreen]="true">
    <ion-grid class="bg-gray-light">
      <ion-row class="row pb-5">
        <ion-col class="col-12 px-5 mt-4">
          <p class="fw-800 font-size-24 line-32 color-purple
            text-left">
            Termos e condições
          </p>
          <p class="fw-400 font-size-16 line-20 color-blue-light">
            Suspendisse commodo leo eget nisl molestie luctus.
          </p>
        </ion-col>
        <ion-col class="col-12">
          <ion-card class="bg-light border-10 mt-2 p-4">
            <div class="">
              <ion-text class="">


                <span class="color-purple fw-600 font-size-16 line-20">
                  TERMOS E CONDIÇÕES GERAIS DE USO
                  PLATAFORMA PORTEIROS NO COMANDO
                </span>

                <h6 class="fw-400 color-blue-light font-size-16 line-24">

                  Estes Termos e Condições Gerais de Uso da Plataforma Porteiros
                  no Comando (“Termos de Uso” ou “Termos”) regulamentam a
                  utilização da referida Plataforma disponibilizada pela <span
                    class="color-purple fw-600 font-size-16 line-20">IMOVEISTOCK
                    TECNOLOGIA E NEGÓCIOS LTDA.</span> , pessoa jurídica de
                  direito privado inscrita no CNPJ sob nº 22.041.482/0001-60,
                  com sede na Al. Presidente Taunay, nº 835, loja: 06; Térreo,
                  CEP 80.430-000, bairro Bigorrilho, a seguir denominada
                  simplesmente de Porteiros no Comando (“Porteiros no Comando”
                  ou “Nós”).
                  <br/>

                    <span class="color-purple fw-600 font-size-16 line-20"> Ao
                      aderir e acessar a Plataforma Porteiros no Comando, você
                      reconhece e concorda, de forma livre, espontânea, plena e
                      sem reservas, com o presente Termos de Uso, bem como com
                      as
                      demais Políticas disponíveis na Plataforma. </span>

                    Estes Termos sempre estarão disponíveis para leitura e
                    visualização na página pública www.[-].com.br

                  </h6>
                </ion-text>
              </div>
            </ion-card>
          </ion-col>
          <ion-col class="col-12">
            <ion-card class="bg-light border-10 mt-2 p-4">
              <div class="">
                <ion-text class="">
                  <span class="color-purple fw-600 font-size-16 line-20">DEFINIÇÕES</span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Sem prejuízo às demais definições previstas nestes Termos, e
                    para fins de sua interpretação, as seguintes palavras são
                    definidas da seguinte forma:
                  </h6>
                  <table class="table table-hover">

                    <tbody>
                      <tr>
                        <th scope="row" class="color-purple fw-600 font-size-16 line-20">plataforma</th>
                        <td class="color-blue-light fw-500 font-size-14">Ambiente virtual do Porteiros no Comando, onde os
                          Usuários poderão se cadastrar e utilizar, conforme
                          disponibilizado pelo Porteiros no Comando e definido
                          nestes Termos.</td>
                      </tr>
                      <tr>
                        <th scope="row" class="color-purple fw-600 font-size-16 line-20">Usuário</th>
                        <td class="color-blue-light fw-500 font-size-14">Pessoa física que se cadastra na Plataforma, a quem
                          estes Termos se aplicam</td>
                      </tr>
                      <tr>
                        <th scope="row" class="color-purple fw-600 font-size-16 line-20">Imóvel(is)</th>
                        <td class="color-blue-light fw-500 font-size-14">Imóveis no geral, incluindo, mas não se limitando a
                          apartamentos, casas e sobrados</td>
                      </tr>
                      <tr>
                        <th scope="row" class="color-purple fw-600 font-size-16 line-20">Bonificação</th>
                        <td class="color-blue-light fw-500 font-size-14">Porcentagem devido ao Usuário sobre o valor de venda
                          ou de locação do Imóvel indicado pelo Usuário,
                          portanto,
                          um valor variável</td>
                      </tr>
                      <tr>
                        <th scope="row" class="color-purple fw-600 font-size-16 line-20">Política(s)</th>
                        <td class="color-blue-light fw-500 font-size-14">Política de Privacidade, Política de Cookies e
                          demais
                          políticas do Porteiros no Comando disponíveis e que se
                          tornarão disponíveis em suas páginas públicas.</td>
                      </tr>
                      <tr>
                        <th scope="row" class="color-purple fw-600 font-size-16 line-20">Informação Confidencial</th>
                        <td class="color-blue-light fw-500 font-size-14">Documentos, equipamentos, software, dados, inclusive
                          e
                          especialmente banco de dados, materiais, desenhos,
                          dentre outros, seja de natureza técnica, operacional,
                          logística, econômica, de engenharia ou de qualquer
                          outra
                          natureza, entregues, revelados ou fornecidos, bem como
                          todos e quaisquer assuntos, temas e informações
                          tratados, informações sobre pesquisa, desenvolvimento
                          técnico, modelos, aspectos comerciais passados,
                          presentes e futuros, experiências e resultados de
                          atividades, simulações lógicas, correspondências e
                          elementos técnicos, independentemente da necessidade
                          de
                          identificação por Você ou pelo Porteiros no Comando de
                          sua natureza confidencial. </td>
                      </tr>


                    </tbody>
                  </table>


                </ion-text>
              </div>
            </ion-card>
          </ion-col>

          <ion-col class="col-12">
            <ion-card class="bg-light border-10 mt-2 p-4">
              <div class="">
                <ion-text class="">
                  <span class="color-purple fw-600 font-size-16 line-20">COMO
                    FUNCIONA</span>
                  <ul class="ula">
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Por meio da Plataforma, o Usuário poderá indicar Imóveis
                      disponíveis para compra e venda ou locação. Caso o Imóvel
                      indicado pelo Usuário seja vendido ou alugado, o Usuário
                      fará jus a uma Bonificação, conforme definido nestes
                      Termos
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Indicações. Para indicar um Imóvel por meio da Plataforma,
                      o
                      Usuário deverá seguir os passos indicados em cada tela,
                      preenchendo as informações indicadas, tanto sobre o
                      Imóvel,
                      quanto sobre seu o proprietário.

                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Responsabilidade sobre informações fornecidas. Você deverá
                      inserir na Plataforma informações verdadeiras, legais e
                      corretas sobre si, sobre o proprietário e sobre o Imóvel,
                      que deve ser previamente comunicado sobre a inserção dos
                      seus dados na Plataforma.

                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Você será o único responsável civil e criminalmente por
                      qualquer informação inserida na Plataforma
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Caso insira informações incorretas ou inverídicas, ou se
                      recuse a corrigi-las se solicitado, o Porteiros no
                      Comando,
                      a seu exclusivo critério, se reserva o direito de: (i) não
                      concluir o seu cadastro; ou (ii) bloquear a sua utilização
                      e
                      acesso à Plataforma até que se regularize a situação
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Status das indicações. Após o Usuário indicar um Imóvel
                      por
                      meio da Plataforma, a indicação será avaliada pelo
                      Porteiros
                      no Comando, e o Usuário poderá acompanhar o status de cada
                      indicação por meio de página específica na Plataforma.
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      O Usuário deverá acompanhar o status de suas indicações
                      por
                      meio da Plataforma, sendo certo que determinadas
                      indicações
                      necessitarão de ações por parte do Usuário para seu
                      andamento
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      O Usuário declara estar ciente e concorda que o Porteiros
                      no
                      Comando não garante a aprovação de todas as indicações de
                      Imóveis realizadas por este por meio da Plataforma
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      O Porteiros no Comando se resguarda no direito de
                      reprovação
                      de determinada indicação decorrente da omissão do Usuário
                      de
                      realizar uma ação específica que era necessária para o
                      andamento do procedimento de aprovação da referida
                      indicação
                    </li>

                  </ul>
                </ion-text>
              </div>
            </ion-card>
          </ion-col>
          <ion-col class="col-12">
            <ion-card class="bg-light border-10 mt-2 p-4">
              <div class="">
                <ion-text class="">

                  <span class="color-purple fw-600 font-size-16 line-20">CADASTRO
                    E INFOMAÇÕES</span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Manutenção dos dados cadastrais atualizados. Os seus dados
                    presentes na Plataforma são o meio utilizado para que o
                    Porteiros no Comando possa entrar em contato com Você, caso
                    necessário. Eventual prejuízo por parte do Usuário em razão
                    de
                    erros presentes em seu cadastro, não são responsabilidade do
                    Porteiros no Comando, sendo de sua responsabilidade a
                    manutenção atualizada dos seus dados cadastrais,
                    especialmente
                    seu endereço eletrônico, telefone e dados bancários.

                  </h6>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Seu login e senha. A Plataforma é acessada por meio de login
                    e
                    senha exclusivos, pessoais e intransferíveis, realizados
                    após
                    seu cadastro na Plataforma. Você deverá manter seguros seu
                    login e senha de acesso à Plataforma e, caso desconfie que
                    alguém não autorizado tenha utilizado seu login e senha,
                    recomendamos que Você realize a alteração de sua senha, que
                    deve ser realizada dentro da Plataforma.
                  </h6>
                  <ul class="ula">

                    <li class="fw-400 color-blue-light font-size-14 line-18">
                      O Porteiros no Comando não se responsabiliza pelo acesso
                      indevido de terceiros nas contas registadas na Plataforma,
                      seja pelo compartilhamento de senha ou pelo acesso
                      indevido
                      a elas, sendo de única e exclusiva responsabilidade dos
                      Usuários a manutenção e a segurança de sua conta.

                    </li>
                  </ul>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Você declara que é capaz de exercer todos os atos da vida
                    civil e tem mais de 18 (dezoito) anos de idade completos se
                    cadastrar e utilizar a Plataforma
                  </h6>
                </ion-text>
              </div>
            </ion-card>
          </ion-col>
          <ion-col class="col-12">
            <ion-card class="bg-light border-10 mt-2 p-4">
              <div class="">
                <ion-text class="">
                  <span class="color-purple fw-600 font-size-16 line-20">BONIFICAÇÕES
                    E PAGAMENTOS</span>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Caso o Imóvel indicado pelo Usuário seja vendido ou alugado,
                    o
                    Usuário fará jus a uma Bonificação, dentro dos limites do
                    disposto na Plataforma na aba “Bonificações
                  </h6>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    A Bonificação será paga por meio de um parceiro do Porteiros
                    no Comando, diretamente na conta bancária do Usuário.
                  </h6>
                  <span class="color-purple fw-600 font-size-16 line-20">OBRIGAÇÕES
                    DO USUÁRIO</span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Ao se comunicar com o Porteiros no Comando por qualquer
                    meio,
                    Você deverá se comunicar de forma profissional e respeitosa,
                    de acordo com estes Termos e demais Políticas do Porteiros
                    no
                    Comando
                  </h6>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Será de responsabilidade do Usuário indenizar/reembolsar o
                    Porteiros no Comando, inclusive em relação a honorários
                    advocatícios e custas processuais, em caso de reclamação ou
                    demanda promovida por terceiros, que decorram,
                    exclusivamente, das atividades do Usuário na Plataforma, do
                    seu descumprimento dos Termos de Uso e demais Políticas ou
                    de qualquer violação à lei ou ao direito de terceiros
                  </h6>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Você declara e concorda, desde já, que responderá
                    judicialmente por todo e qualquer dano, real ou potencial,
                    causado pela prática de atos ilícitos por meio da
                    Plataforma.
                  </h6>
                  <ul class="ula">
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      É expressamente proibido ao Usuário

                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Copiar, usar, divulgar ou distribuir qualquer informação
                      obtida pela Plataforma sem nosso consentimento;
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Violar direitos autorais, de marca registrada ou de
                      propriedade do Porteiros no Comando, bem como reproduzir,
                      modificar, distribuir, transferir, comercializar, exibir,
                      doar, veicular, transmitir ou, de qualquer outro modo,
                      explorar a Plataforma, exceto da forma expressamente
                      permitida pelos presentes Termos de Uso;
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Violar a propriedade intelectual do Porteiros no Comando
                      ou direitos autorais, usando o nome “Porteiros no
                      Comando”, ou nossas logos em qualquer nome empresarial,
                      e-mail ou Uniform Resource Locator - URL
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Copiar, alterar, distribuir, expor, licenciar, modificar
                      ou reproduzir, praticar engenharia reversa de qualquer
                      modalidade ou utilizar nossa propriedade intelectual, a
                      não ser que haja acordo expresso, prévio e por escrito
                      conosco
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Utilizar a Plataforma de forma adversa ao previsto nestes
                      Termos de Uso ou ao disponibilizado pelo Porteiros no
                      Comando ou utilizar a Plataforma para fins ilícitos ou de
                      forma contrária à legislação vigente
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Copiar, usar, divulgar ou distribuir qualquer informação
                      obtida pela Plataforma sem nosso consentimento;
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Executar malwares, spywares, ou tomar quaisquer ações
                      prejudiciais e/ou maliciosas, que interfiram na nossa rede
                      e/ou de terceiros ou, ainda, que tenham a finalidade de
                      acessar informações não autorizadas tanto nossas quanto de
                      terceiros ou outros usuários
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Utilizar software ou qualquer meio que possa prejudicar a
                      Plataforma tais como, mas não se limitando a pinging, war
                      dialing, mail-bombs e outros ataques virtuais ou lançar
                      programas, spams, vírus de computador, worms, cavalos de
                      Troia, scripts ou usar robô, spider, scraper ou qualquer
                      outro meio automatizado, invasivo ou malicioso para a
                      obtenção de dados, incluindo, mas não somente, a prática
                      de phishing, ou de sobrecarregar ou prejudicar
                      indevidamente o funcionamento da Plataforma
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Tentar acessar, modificar, descompilar, reverter ou
                      alterar o código-fonte da Plataforma ou qualquer outra
                      tecnologia relacionada aos serviços do Porteiros no
                      Comando que não seja open source;
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Utilizar ferramenta ou proxy anônimo com a finalidade de
                      tornar seu endereço de IP anônimo
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Criar aplicativo que possa ser usado para violar os
                      presentes Termos de Uso, ou ainda qualquer outra Política,
                      legislação, normas ou regulamentos aplicáveis
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Utilizar o script de forma que constitua uso excessivo ou
                      abusivo, ou o descumprimento destes Termos de Uso; e

                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Praticar qualquer ato contrário à boa-fé, fraudulento ou
                      com o intuito de prejudicar direta ou indiretamente o
                      Porteiros no Comando, outros Usuários ou terceiros
                    </li>
                  </ul>
                </ion-text>
              </div>
            </ion-card>
          </ion-col>
          <ion-col class="col-12">
            <ion-card class="bg-light border-10 mt-2 p-4">
              <div class="">
                <ion-text class="">
                  <span class="color-purple fw-600 font-size-16 line-20">LIMITAÇÃO
                    DE RESPONSABILIDADE</span>

                  <ul class="ula">
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      O Porteiros no Comando se compromete a:

                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      oteger os dados pessoais inseridos por Você sob caráter de
                      sigilo, conforme melhores práticas e tecnologia de
                      segurança, utilizando-os apenas para os fins descritos
                      nestes Termos de Uso, conforme suas Política; e

                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Tomar as devidas providências em caso de mau funcionamento
                      da Plataforma, assim como prestar o suporte a Você por
                      meio dos canais de atendimento disponibilizados, tudo
                      conforme descrito nestes Termos, Políticas e demais
                      páginas públicas do Porteiros no Comando
                    </li>
                  </ul>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    O Usuário declara sua inequívoca ciência de que a Plataforma
                    não é livre de erros, bugs, vírus, vícios, embora o
                    Porteiros no Comando tome todas as medidas para que isso não
                    ocorra, bem como empreende esforços para corrigir tais
                    situações em prazo razoável, à medida em que identificados
                    por ela e pelos Usuários
                  </h6>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    O Porteiros no Comando adota todas as medidas possíveis para
                    manter a confidencialidade e a segurança dos dados e
                    informações de seus Usuários, os quais reconhecem que nenhum
                    software, servidor ou sistema está absolutamente imune a
                    ataques e/ou invasões de hackers e outros agentes
                    maliciosos, não sendo o Porteiros no Comando responsável por
                    qualquer exclusão, obtenção, utilização ou divulgação não
                    autorizada de informações resultantes de ataques que não
                    poderia razoavelmente evitar por meio dos seus padrões de
                    segurança.
                  </h6>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    O Usuário declara, expressamente, ter ciência de que o
                    Porteiros no Comando não está obrigada a fornecer qualquer
                    nova funcionalidade, recurso ou customização, a ser
                    incorporada à Plataforma posteriormente à data de celebração
                    destes Termos
                  </h6>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    A Plataforma atenderá às finalidades para as quais foi
                    desenvolvida. Sendo assim, o Porteiros no Comando não
                    garante que a Plataforma atenderá requisitos ou necessidades
                    específicas de sua vontade
                  </h6>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    O Porteiros no Comando ficará isenta de qualquer
                    responsabilidade causada por eventos decorrentes de caso
                    fortuito ou força maior, incluindo os danos eventualmente
                    causados em razão de fenômenos meteorológicos, falhas em
                    sistemas de telecomunicação, energia elétrica,
                    indisponibilidade de servidores, estruturas e plataformas
                    físicas e/ou virtuais de terceiros nos quais a Plataforma é
                    executada e disponibilizado, orientação e navegação, defeito
                    nos equipamentos do Usuário e terceiros a ele vinculados
                    utilizados para acessar a Plataforma, além de outras
                    hipóteses de mau uso da Plataforma pelo Usuário. Você fica
                    desde logo ciente de que os programas poderão sofrer
                    interrupções periódicas para atualizações e reparos, bem
                    como em razão de falhas corrigíveis
                  </h6>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    O Porteiros no Comando não será responsável por
                    divergências, erros humanos, informações desatualizadas ou
                    equivocadas transmitidas e/ou compartilhadas pelo Usuário
                    durante a utilização da Plataforma, estando isenta de
                    qualquer responsabilidade ou corresponsabilidade nesse
                    sentido
                  </h6>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Informações das páginas públicas. As informações que constam
                    na Plataforma e demais páginas públicas do Porteiros no
                    Comando poderão mudar eventualmente a seu exclusivo
                    critério. Tentaremos manter as informações sempre
                    atualizadas, mas não garantimos que estarão corretas a todo
                    momento
                  </h6>

                </ion-text>
              </div>
            </ion-card>
          </ion-col>
          <ion-col class="col-12">
            <ion-card class="bg-light border-10 mt-2 p-4">
              <div class="">
                <ion-text class="">

                  <span class="color-purple fw-600 font-size-16 line-20">
                    CONFIDENCIALIDADE
                  </span>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    O Porteiros no Comando e Você obrigam-se reciprocamente,
                    inclusive em nome de seus empregados, cooperados, prepostos
                    e terceiros que participem de qualquer forma da execução do
                    objeto dos presentes Termos, a manter o mais completo e
                    absoluto sigilo sobre toda e qualquer Informação
                    Confidencial, observada a atividade da Plataforma
                  </h6>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    É vedado às partes, sob qualquer pretexto, direta ou
                    indiretamente, divulgar e/ou revelar, armazenar, copiar,
                    reproduzir ou utilizar para fins distintos do objeto destes
                    Termos, as Informações Confidenciais, sem a autorização
                    prévia e expressa da parte que revelou a Informação
                    Confidencial.
                  </h6>
                  <ul class="ula">
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Não serão consideradas Informações Confidenciais aquelas
                      que:
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Já eram ou se tornaram de domínio público à época da
                      revelação; e
                    </li>
                    <li class="fw-400 color-blue-light font-size-14 line-20">
                      Tenham sido licitamente obtidas pelas partes por meio de
                      terceiros, sem violação direta ou indireta destes Termos
                    </li>
                  </ul>
                </ion-text>
              </div>
            </ion-card>
          </ion-col>
          <ion-col class="col-12">
            <ion-card class="bg-light border-10 mt-2 p-4">
              <div class="">
                <ion-text class="">
                  <span class="color-purple fw-600 font-size-16 line-20">HISTÓRICO DE CONTATO</span>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Caso as Informações Confidenciais devam ser divulgadas em
                    virtude de lei ou ordem judicial, a parte que receber a
                    ordem deverá comunicar à parte titular da Informação
                    Confidencial, antes da divulgação, para que esta adote as
                    medidas que entender necessárias para evitar a revelação. Se
                    a divulgação da Informação Confidencial não puder ser
                    evitada, a parte que tiver a obrigação legal de revelá-la
                    deverá fazê-lo nos exatos limites determinados na norma
                    legal ou na respectiva ordem judicial.

                  </h6>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Em caso de descumprimento de qualquer cláusula desta seção,
                    a parte infratora será responsável, civil e criminalmente em
                    virtude da quebra da confidencialidade e sigilo a que está
                    obrigada, pelos danos causados à outra parte e/ou a
                    terceiros prejudicados, desde que devidamente comprovados,
                    devendo responder por seus próprios atos e de seus
                    administradores, empregados, prepostos, colaboradores,
                    subcontratados e demais pessoas a ela ligadas a qualquer
                    título. A parte que violar as condições previstas nesta
                    cláusula, dará justo motivo para a resolução contratual,
                    incorrendo nas penalidades já previstas nestes Termos, sem
                    prejuízo da reparação de eventuais perdas e danos suportados
                    pela parte prejudicada
                  </h6>

                  <span class="color-purple fw-600 font-size-16 line-20">
                    CONTATO E COMUNICAÇÃO</span>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Caso você deseje entrar em contato com o Porteiros no
                    Comando poderá fazê-lo por meio do WhatsApp do Porteiros no
                    Comando, disponível na Plataforma
                  </h6>
                  <span class="color-purple fw-600 font-size-16 line-20">
                    VIGÊNCIA E CANCELAMENTO</span>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Estes Termos vigerão por prazo indeterminado a partir da
                    data de seu aceite na Plataforma por Você </h6>
                  <span class="color-purple fw-600 font-size-16 line-20">
                    PROTEÇÃO DE DADOS PESSOAIS</span>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    O tratamento dos dados pessoais coletados para fins de
                    utilização da Plataforma Porteiros no Comando, bem como a
                    sua correta atividade, segue a normativa das leis e normas
                    de proteção e privacidade de dados, especialmente a Lei nº
                    13.709/2018, Lei Geral de Proteção de Dados Pessoais – LGPD,
                    e é disciplinada pela nossa Política de Privacidade,
                    disposta no nosso site através do link [-]. </h6>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    O Porteiros no Comando utiliza medidas de segurança técnicas
                    e organizacionais para garantir o tratamento correto dos
                    dados pessoais de seus Usuários. Qualquer dúvida ou para
                    exercício de direitos do titular de dados, entre em contato
                    através dos nossos canais oficiais
                  </h6>

                  <span class="color-purple fw-600 font-size-16 line-20">
                    CONTATO E COMUNICAÇÃO</span>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Caso você deseje entrar em contato com o Porteiros no
                    Comando poderá fazê-lo por meio do WhatsApp do Porteiros no
                    Comando, disponível na Plataforma
                  </h6>
                </ion-text>
              </div>
            </ion-card>
          </ion-col>
          <ion-col class="col-12">
            <ion-card class="bg-light border-10 mt-2 p-4">
              <div class="">
                <ion-text class="">
                  <span class="color-purple fw-600 font-size-16 line-20">
                    DISPOSIÇÕES GERAIS</span>

                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Caso você deseje entrar em contato com o Porteiros no
                    Comando poderá fazê-lo por meio do WhatsApp do Porteiros no
                    Comando, disponível na Plataforma
                  </h6>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    Estes Termos não estabelecem qualquer forma de associação,
                    franquia, parceria, consórcio, joint-venture, vínculo
                    empregatício, societário ou solidariedade entre o Porteiros
                    no Comando e o Usuário, tampouco confere às partes permissão
                    para praticar quaisquer atos, contratar ou assumir
                    obrigações em nome da outra parte
                  </h6>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">

                    No caso de alguma cláusula pertencente a estes Termos ou
                    qualquer outra Política do Porteiros no Comando seja
                    declarada nula, inaplicável ou sem efeito, apenas esta será
                    afetada, e continuam a viger o restante das cláusulas dos
                    presentes Termos
                  </h6>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">
                    A eventual tolerância quanto a qualquer violação dos Termos
                    de Uso ou Políticas do Porteiros no Comando será considerada
                    mera liberalidade e não será interpretada como novação,
                    precedente invocável, renúncia a direitos, alteração tácita
                    dos termos contratuais, direito adquirido ou alteração
                    contratual
                  </h6>
                  <h6 class="fw-400 color-blue-light font-size-16 line-24">

                    Fica eleito o Foro Central da Comarca da Região
                    Metropolitana da cidade de Curitiba, Estado do Paraná, para
                    dirimir quaisquer dúvidas ou conflitos advindos dos
                    presentes Termos de Uso ou demais Políticas do Porteiros no
                    Comando
                  </h6>

                </ion-text>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-app>
