
<ion-row  class="row mx-2 mt-4">

  <ion-col *ngFor="let item of mokprofile" >
    <ion-text >
      <span class="fw-600 pb-3 font-size-20 color-purple line-20">Dados pessoais</span>
    </ion-text>
    <ion-card class="border-10 box-shadow-none mt-3 mb-5 bg-light py-4 px-3">
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Nome completo</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20 ion-text-capitalize">{{user.name}}</p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">CPF</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{user.cpf}}
        </p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Telefone celular</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          ({{user.phone | slice:2:4}}){{user.phone | slice:4:13}}
        </p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Data de nascimento</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{user?.personalData?.birthDate | date: 'dd/MM/yyyy' || '-' }}
        </p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Estado</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20 ion-text-capitalize">
          {{user?.personalData?.state || '-'}}</p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Cidade</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20 ion-text-capitalize">
          {{user?.personalData?.city || '-'}}</p>
      </ion-text>
    </ion-card>
    
    <ion-text >
      <span class="fw-600 pb-3 font-size-20 color-purple line-20">Dados bancarios</span>
    </ion-text>
    <ion-card class="border-10 box-shadow-none my-3 bg-light py-4 px-3">
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Banco</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{user?.personalData?.bankInfo?.name || '-'}}</p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Agência</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{user?.personalData?.bankInfo?.agencyNumber || '-'}}
        </p>
      </ion-text>
      <ion-text >
        <label class="fw-400 font-size-14 line-18 color-blue-light">Conta corrente</label>
        <p class="fw-500 pb-3 font-size-16 color-purple line-20">
          {{user?.personalData?.bankInfo?.accountNumber || '-'}}
        </p>
      </ion-text>
    </ion-card>
  </ion-col>
</ion-row>